.navbar {
  background-color: cadetblue;
}

/* BODY */

body {
  background: linear-gradient(45deg, #17a2b8, rgba(255, 255, 255, 0.657));
}

/* HOMEPAGE */

.homepage {
  text-align: center;
  height: 78vh;
}

.welcome_msg {
  margin: 3%;
  padding: 5px;
}

.projectname {
  color: rgba(pink, brown, orange, 13);
}

.welcome_msg p {
  color: rgb(226, 10, 10);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.accounts {
  display: flex;
  justify-content: space-evenly;
  margin: 10% 15%;
  font-size: 25px;
}

.sign a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  color: black;
  text-decoration: none;
  transition: 0.3s;
}

.sign a:hover {
  color: rgb(192, 35, 35);
  transition: 0.3s;
  text-decoration: none;
}

.container {
  background: rgba(23, 162, 184, 0.4);
  box-shadow: 0 5px 5px black;
  border-radius: 1%;
  color: #073036;
  font-family: cursive;
  margin-bottom: 3%;
  padding-bottom: 3%;
}

.form_title {
  color: rgb(49, 132, 134);
  padding-top: 3%;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.376);
}

.form_info {
  color: rgb(160, 19, 19);
}

label {
  font-size: 25px;
}

.btn {
  background-color: none;
  font-size: 25px;
}

.cv-template {
  display: grid;
  grid-template-columns: 35% 65%;
  size: 7in 9.25in;
  margin: 27mm 16mm 27mm 16mm;
  box-shadow: 0 0 10px black;
}

.segment1 {
  background-image: linear-gradient(25deg, wheat, grey);
}

.segment1-class {
  padding: 30px;
  margin: 20px;
  background-color: green;
}

.segment1-details b {
  font-size: 10px;
}

.segment2 {
  background: white;
}

footer {
  margin: 0, 3%;
  text-align: center;
}
