/* BODY */

body {
  /* background: linear-gradient(45deg, #17a2b8, rgba(255, 255, 255, 0.657)); */
  /* background-image: url(https://media.istockphoto.com/photos/working-area-in-modern-office-with-carpet-floor-and-meeting-room-3d-picture-id1177487069?k=20&m=1177487069&s=612x612&w=0&h=4Vjb5LD1cPU8yPyf386LdJUv1CwvJVlEWN9C0MbBDHQ=);
  background-repeat: no-repeat; */
  background: paleturquoise
    url("https://media.istockphoto.com/photos/modern-office-interior-with-city-view-picture-id1138024382?k=20&m=1138024382&s=612x612&w=0&h=CwlM6qpIlKK88e-L3b3Yy3uQYQoNzYFOlycLYgBGgog=")
    no-repeat fixed center;
  background-size: cover;
}

.navbar {
  background-color: rgba(106, 99, 91, 0.4);
  text-shadow: 0 0 3px wheat;
}

#navbarSupportedContent:hover {
  color: rgb(226, 10, 10);
}

/* HOMEPAGE */

.homepage {
  text-align: center;
  height: 75vh;
  font-weight: bold;
}

.welcome_msg {
  margin: 3%;
  padding: 5px;
}

.projectname {
  color: rgba(pink, brown, orange, 13);
}

.welcome_msg p {
  color: rgb(226, 10, 10);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.accounts {
  display: flex;
  justify-content: center;
  /* padding: 3%; */
  margin: 8% 15%;
  font-size: 25px;
}

.accounts a {
  padding: 1.5% 4.5%;
  margin: 1%;
  /* background-color: thistle; */
  box-shadow: 0 0 10px black;
  transition: 0.3s;
  border-radius: 15px;
  font-weight: bold;
}

/* .sign:hover a, */
.accounts a:hover {
  color: rgb(192, 35, 35);
  text-shadow: 0 0 5px wheat;
  background-color: rgba(106, 99, 91, 0.4);
  transition: 0.3s;
  text-decoration: none;
}

.view_templates a {
  /* background-color: green; */
  padding: 1% 3.5%;
  text-decoration: none;
  color: black;
  /* font-weight: bold; */
  box-shadow: 0 0 10px black;
  transition: 0.3s;
  border-radius: 10px;
}

.view_templates a:hover {
  text-decoration: none;
  color: rgb(192, 35, 35);
  text-shadow: 0 0 5px wheat;
  background-color: rgba(106, 99, 91, 0.4);
  transition: 0.3s;
}

.container {
  background: rgba(23, 162, 184, 0.4);
  box-shadow: 0 5px 5px black;
  border-radius: 1%;
  color: #073036;
  font-family: cursive;
  margin-bottom: 3%;
  padding-bottom: 3%;
}

.form_title {
  color: rgb(49, 132, 134);
  padding-top: 3%;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.376);
}

.form_info {
  color: rgb(160, 19, 19);
}

label {
  font-size: 25px;
}

.btn {
  background-color: none;
  font-size: 25px;
}

/* RESUME 2 */

.cv-template {
  position: relative;
  left: 15px;
  top: 4%;
  display: grid;
  grid-template-columns: 35% 65%;
  /* size: 7in 9.25in;
  margin: 27mm 16mm 27mm 16mm; */
  box-shadow: 0 0 10px black;
}

.segment1 {
  background-image: linear-gradient(25deg, wheat, grey);
}

.segment1-class {
  padding: 30px;
  margin: 20px;
  background-color: green;
}

.segment1-details b {
  font-size: 10px;
}

.segment2 {
  background: white;
}

footer {
  margin: 0.5%;
  text-align: center;
  font-weight: bold;
}
